.Car{
  padding: 20px;
  text-align: center;
  transition: .3s;
  cursor: pointer;
  box-shadow: 2px 2px 20px 5px rgba(0,0,0, .2);
}

.Car:hover{
  box-shadow: 2px 2px 20px 5px rgba(0,0,0, .8);
}

.input:focus{
  outline: 5px solid gold;
}

.input.green{
  border: 1px solid green;
}
.input.red{
  border: 1px solid red;
}

.input.bold{
  border: 2px solid green;
  font-weight: bold;
}
